@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .home-arrow{
        @apply dark:text-darkmodetext hover:text-m-blue active:text-m-blue focus:text-m-blue hover:opacity-80;
    }
    .top-nav-link{
        @apply block text-center text-lg text-gray-700 dark:text-darkmodetext border-b border-gray-300 md:border-0 dark:hover:text-gray-500 hover:text-blacktext py-5 md:py-4 mx-8;
    }
    .activeLink{
        @apply md:border-b-2 md:border-m-maize;
    }
    .logo{
        @apply bg-black text-darkmodetext dark:bg-white dark:text-blacktext dark:hover:bg-m-maize hover:bg-m-maize hover:text-gray-800;
    }
}

@media screen and (max-width: 768px){
    .nav-link-hide{
        display: none;
    }
}


.home-arrow:hover .arrow, .home-arrow:active .arrow{
    transform: translateX(5px);
}

.projectLink:hover .arrow, .projectLink:active .arrow{
    transform: translateX(5px);
}

.arrow{
    transition: transform .25s cubic-bezier(.215,.61,.355,1);
}

.project-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 350px;
    padding-bottom: 1rem;
}

.project-card{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
    max-width: 350px;
    max-height: 100%;
    overflow: hidden;
}